@font-face {
  font-family: "Monrope-Medium";
  src: url(../Assets/Fonts/Manrope/Manrope-Medium.ttf);
}
@font-face {
  font-family: "Monrope-Bold";
  src: url(../Assets/Fonts/Manrope/Manrope-ExtraBold.ttf);
}

$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$extra-large: 1400px;
$extra-extra-large: 1920px;
$font-nav: "Monrope-Medium";
$font-size-nav: 14px;
$font-h1: "Monrope-Bold";
$font-size-h1: 72px;
$font-h2: "Monrope-Bold";
$font-size-h2: 48px;
$font-btn: "Monrope-Medium";
$font-size-btn: 20px;
$font-achivements-item: "Monrope-Medium";

.container-fluid {
  padding: 0;
}

@media (min-width: $extra-extra-large) {
  header {
    #header-container {
      padding: 35px 375px 0 375px;
      background: url(../Assets/Images/header_background.png);
      background-repeat: no-repeat;
      -moz-background-size: 100%; /* Firefox 3.6+ */
      -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
      -o-background-size: 100%; /* Opera 9.6+ */
      background-size: 100%; /* Современные браузеры */
      #header-up {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        #header-up__left {
          img {
            display: inline-block;
          }
          p {
            display: inline-block;
            // width: 111px;
            color: white;
            font-size: 28px;
          }
        }
        #header-up__right {
          display: grid;
          p {
            color: white;
            font-size: 20px;
            font-weight: bold;
            margin: 0 0 0 auto;
          }
          p::before {
            content: url(../Assets/Images/phone_icon.png);
            padding: 10px 15px 10px 15px;
            border: 1px solid white;
            border-radius: 100%;
            margin-right: 10px;
          }
          button {
            background-color: #0b81e1;
            color: white;
            border: 0;
            width: 181px;
            height: 50px;
            margin: 0 0 0 auto;
          }
        }
      }
      h1 {
        color: white;
        font-size: 92px;
        text-align: center;
        margin: 70px 0 230px 0;
      }
      #header-down {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        .header-down__card {
          display: grid;
          background-color: #31cbf9;

          border-radius: 10px;
          width: 370px;
          height: 320px;
          img {
            margin: 30px auto 0 auto;
          }
          h2 {
            font-size: 82px;
            color: white;
            font-weight: bold;
            margin-left: 45px;
          }
          p {
            font-size: 34px;
            color: white;
            margin-left: 45px;
          }
        }
      }
    }
  }
}
@media (min-width: $extra-large) and (max-width: $extra-extra-large) {
}
@media (min-width: $large) and (max-width: $extra-large) {
}
@media (min-width: $medium) and (max-width: $large) {
}
@media (min-width: $small) and (max-width: $medium) {
}
@media (min-width: $x-small) and (max-width: $small) {
}
@media (max-width: $x-small) {
}
