@font-face {
  font-family: "Monrope-Medium";
  src: url(../Assets/Fonts/Manrope/Manrope-Medium.ttf);
}
@font-face {
  font-family: "Monrope-Bold";
  src: url(../Assets/Fonts/Manrope/Manrope-ExtraBold.ttf);
}

$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$extra-large: 1400px;
$extra-extra-large: 1920px;
$font-nav: "Monrope-Medium";
$font-size-nav: 14px;
$font-h1: "Monrope-Bold";
$font-size-h1: 72px;
$font-h2: "Monrope-Bold";
$font-size-h2: 48px;
$font-btn: "Monrope-Medium";
$font-size-btn: 20px;
$font-achivements-item: "Monrope-Medium";

.container-fluid {
  padding: 0;
}

@media (min-width: $extra-extra-large) {
  // body{
  //   background-color: $color1;
  // }
  .width-label {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: none;
    }
    p:nth-child(3) {
      display: none;
    }
    p:nth-child(4) {
      display: none;
    }
    p:nth-child(5) {
      display: none;
    }
    p:nth-child(6) {
      display: none;
    }
    p:nth-child(7) {
      display: block;
    }
  }
}
@media (min-width: $extra-large) and (max-width: $extra-extra-large) {
  .width-label {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: none;
    }
    p:nth-child(3) {
      display: none;
    }
    p:nth-child(4) {
      display: none;
    }
    p:nth-child(5) {
      display: none;
    }
    p:nth-child(6) {
      display: block;
    }
    p:nth-child(7) {
      display: none;
    }
  }
  #navMenu {
    padding-left: 165px;
    padding-right: auto;
    font-family: $font-nav;
    font-size: ($font-size-nav);
    font-weight: bold;
    img {
      width: 100px;
      margin: -10px 30px 0 0;
      vertical-align: middle;
    }
  }
  #title {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 30%;
    // grid-gap: 2vw;
    // padding: 0 165px 0px 165px;
    padding-bottom: 90px;
    button {
      background-color: #ffe500;
      color: black;
      border: 0;
      border-radius: 10px;
      width: 196px;
      height: 62px;
      font-family: $font-btn;
      font-size: $font-size-btn;
    }
    #title-left {
      padding: 165px;
      width: 100%;
      background: url(../Assets/Images/title_background_left.svg);
      background-position: left bottom;
      background-repeat: no-repeat;
    }
    #title-right {
      width: 100%;
      background: url(../Assets/Images/title_background_right.svg);
      background-position: right center;
      background-repeat: no-repeat;
      padding-left: 10%;
      img {
        width: 350px;
      }
    }
  }

  h1 {
    font-family: $font-h1;
    font-size: ($font-size-h1);
    font-weight: 800;
    width: 730px;
  }
  #container-parthners {
    border-top: 1px solid rgb(207, 214, 207);
    border-bottom: 1px solid rgb(207, 214, 207);
    img {
      margin: 37px 50px 37px 50px;
    }
  }
  h2 {
    font-family: $font-h2;
    font-size: ($font-size-h2);
    font-weight: 800;
  }
  #about {
    #about-container {
      padding-top: 90px;
      display: grid;
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
        width: 350px;
      }
      #about-side__txt {
        width: 540px;
        display: block;
        margin: 0 auto 0 auto;
      }
      #about-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2vw;
        padding: 50px 177px 50px 177px;
        .about-card {
          padding: 20px 0px 20px 0px;
          display: grid;
          img {
            display: block;
            margin: 0 auto 30px auto;
            width: 50px;
          }
          .about-card__title {
            font-weight: bold;
            display: block;
            margin: 0 auto 0 auto;
          }
          .about-card__text {
            display: block;
            margin: 20px auto 0 auto;
          }
        }
      }
    }
  }
  #projects {
    .card-style {
      background-color: white;
      border-radius: 10px;
      padding: 10px 10px 10px 20px;
    }
    .card-style p:nth-child(2) {
      color: red;
    }
    .card-style p:nth-child(3) {
      font-weight: bold;
    }
    .card-style p:nth-child(4) {
      font-size: 8px;
      color: gray;
    }
    #projects-list {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      background-color: #d5fafc;
      background-image: url(../Assets/Images/dots.png);
      background-size: 100px;
      background-repeat: no-repeat;
      background-position: 230px 100px;
      #projects-list__left {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        h2 {
          width: 445px;
          display: block;
          margin: 120px 0 0 auto;
        }
        #card-mobile {
          width: 350px;
          height: 436px;
          margin: -250px 15px 0 auto;
        }
      }
    }
    #projects-list__right {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      #card-site {
        width: 445px;
        height: 340px;
        margin: 168px 0 0 15px;
      }
      #card-game {
        width: 350px;
        height: 276px;
        margin: 30px 0 0 15px;
      }
    }
  }

  #achievements {
    #achievements-container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      padding: 90px 165px 0px 165px;
      #achievements-left {
        h2 {
          width: 540px;
          margin-top: 40px;
        }
      }
      #achievements-right {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        .achievements-item {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
          .achievements-item-left {
            position: relative;
            img {
              position: absolute;
              margin: auto 20px auto auto;
              top: 0;
              bottom: 0;
              right: 0;
              width: 50px;
            }
          }

          .achievements-item-right {
            p:nth-child(1) {
              font-weight: bold;
              font-size: 28px;
              color: #18191f;
              margin-top: 25px;
              font-family: $font-achivements-item;
            }
            p:nth-child(2) {
              font-size: 16px;
              color: #18191f;
              margin-top: -25px;
              font-family: $font-achivements-item;
            }
          }
        }
      }
    }
  }
  #web {
    padding: 90px 0px 0px 165px;
    #web-container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      #web-left {
        img {
        }
      }
      #web-right {
        h2 {
          margin-top: 198px;
        }
        p {
          color: green;
          width: 444px;
        }
        a {
          color: red;
        }
        a::after {
          content: " ➝";
        }
      }
    }
  }
  #games {
    #games-container {
      padding: 90px 0 0 165px;
      margin-bottom: 56px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      h2 {
        width: 540px;
      }
      p {
        width: 540px;
        font-family: "Monrope-Medium";
        font-size: 18px;
      }
    }
    img {
      display: block;
      margin: 0 auto 90px auto;
    }
  }
  #mobile {
    #mobile-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      background-color: #2ec5ce;
      padding: 0 0 0 165px;
      #mobile-left {
        h2 {
          margin-top: 90px;
          width: 540px;
        }
        p:nth-child(2) {
          width: 540px;
        }
        p:nth-child(3) {
        }
        img:nth-child(4) {
        }
        img:nth-child(5) {
        }
      }
      #mobile-right {
        img:nth-child(1) {
        }
        img:nth-child(2) {
        }
      }
    }
  }
  #footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #0b0d17;
    padding: 50px 0 50px 165px;
    #footer-left {
      .footer-btn {
        color: white;
        font-family: "Monrope-Medium";
        font-size: 16px;
        background-color: #0b0d17;
        border: 0;
        margin: 5px 5px 5px 0;
      }
      p {
        margin-top: 5px;
        color: #d9dbe1;
      }
    }
    #footer-right {
      display: grid;
      div {
        margin: 0 165px 0 auto;
        p {
          color: white;
        }
        img {
        }
      }
    }
  }
}
@media (min-width: $large) and (max-width: $extra-large) {
  // body{
  //   background-color: $color3;
  // }
  .width-label {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: none;
    }
    p:nth-child(3) {
      display: none;
    }
    p:nth-child(4) {
      display: none;
    }
    p:nth-child(5) {
      display: block;
    }
    p:nth-child(6) {
      display: none;
    }
    p:nth-child(7) {
      display: none;
    }
  }
}
@media (min-width: $medium) and (max-width: $large) {
  // body{
  //   background-color: $color4;
  // }
  .width-label {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: none;
    }
    p:nth-child(3) {
      display: none;
    }
    p:nth-child(4) {
      display: block;
    }
    p:nth-child(5) {
      display: none;
    }
    p:nth-child(6) {
      display: none;
    }
    p:nth-child(7) {
      display: none;
    }
  }
}
@media (min-width: $small) and (max-width: $medium) {
  // body{
  //   background-color: $color5;
  // }
  .width-label {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: none;
    }
    p:nth-child(3) {
      display: block;
    }
    p:nth-child(4) {
      display: none;
    }
    p:nth-child(5) {
      display: none;
    }
    p:nth-child(6) {
      display: none;
    }
    p:nth-child(7) {
      display: none;
    }
  }
}
@media (min-width: $x-small) and (max-width: $small) {
  // body{
  //   background-color: $color6;
  // }
  .width-label {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: block;
    }
    p:nth-child(3) {
      display: none;
    }
    p:nth-child(4) {
      display: none;
    }
    p:nth-child(5) {
      display: none;
    }
    p:nth-child(6) {
      display: none;
    }
    p:nth-child(7) {
      display: none;
    }
  }
}
@media (max-width: $x-small) {
  // body{
  //   background-color: $color7;
  // }
  .width-label {
    p:nth-child(1) {
      display: block;
    }
    p:nth-child(2) {
      display: none;
    }
    p:nth-child(3) {
      display: none;
    }
    p:nth-child(4) {
      display: none;
    }
    p:nth-child(5) {
      display: none;
    }
    p:nth-child(6) {
      display: none;
    }
    p:nth-child(7) {
      display: none;
    }
  }
}
